<div id="<%= dom_id current_weather %>">
  <p>
    <strong>Latitude:</strong>
    <%= current_weather.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= current_weather.longitude %>
  </p>

</div>
