<% content_for :title, "New current weather" %>

<h1>New current weather</h1>

<%= render "form", current_weather: @current_weather %>

<br>

<div>
  <%= link_to "Back to current weathers", current_weathers_path %>
</div>
